* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    background: #020d17;
}

.container-text {
    display: block;
    margin: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-text .row {
    background: #020d17;
    display: flex;
    flex-wrap: wrap;
}
.col-50 {
    display: inline-block;
    width: 49.5%;
    text-align: center;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-50 img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.col-50 h1 {
    color: #fff;
    font-size: 64px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 75px;
}
.col-50 p {
    color: #fff;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.input-line {
    height: 1px;
    background: #fff;
    transform: rotate(90deg);
    width: 75px;
    position: absolute;
    bottom: 90px;
    left: 45%;
    right: 50%;
}
.col-50 .text-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 590px;
}

.col-50 .text-wrap input {
    border: 2px solid #06223c;
    background: transparent;
    height: 65px;
    width: 95%;
    margin-top: 120px;
    padding-left: 30px;
}

input::placeholder {
    color: #fff;
    font-size: 18px;
}

.col-50 .text-wrap button {
    border: 1px solid #06223c;
    background: #fff;
    height: 60px;
    width: 70px;
    margin-left: -78px;
}

.col-50 .text-wrap button i {
    color: #657a85;
    font-size: 18px;
}

/* Subscribe */
.subscribe-field {
    padding-bottom: 105px;
}
.subscribe-field .form-center input {
    margin: 0 auto;
    width: 685px;
    height: 70px;
    background: transparent;
    border: 2px solid #06223c;
    padding-left: 30px;
}

.subscribe-field .form-center {
    text-align: center;
}

.subscribe-field button {
    margin-left: -78px;
    height: 60px;
    width: 70px;
}

.tagline {
    text-align: center;
    position: relative;
    border-bottom: 1px solid #06223c;
    padding-bottom: 150px;
}

.tagline h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 90px;
    font-weight: normal;
}

.tagline h1:before {
    border-bottom: 1px solid #06223c;
    top: 15px;
    content: "";
    height: 1px;
    left: 5%;
    position: absolute;
    width: 35%;
}

.tagline h1:after {
    border-bottom: 1px solid #06223c;
    top: 15px;
    content: "";
    height: 1px;
    right: 5%;
    position: absolute;
    width: 35%;
}

.footer {
    padding: 130px 0;
}

.footer .col-3 {
    display: inline-block;
    color: #fff;
    width: 33%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer .col-left {
    text-align: left;
    text-transform: uppercase;
}
.footer .col-left .social-line  {
    display: inline-block;
    width: 35px;
    height: 1px;
    background: #48535d;
    margin: 0 10px 5px;
}
.footer .col-center {
    text-align: center;
}
.footer .col-right {
    text-align: right;
}

.footer .col-right ul li {
    list-style: none;
    color: #fff;
    display: inline-block;
}

.footer .col-right ul li a{
    color: #fff;
}

.social-line {
    display: inline-block;
    width: 35px;
    height: 1px;
    background: #48535d;
    margin: 0 20px 5px;
}

/* Media Query */

@media (max-width: 1200px) {
    .col-50 .text-wrap {
        width: 440px;
    }
    .col-50 h1 {
        font-size: 34px;
    }
    .col-50 .text-wrap input {
        height: 55px;

    }
    .col-50 .text-wrap button {
        height: 48px;
    }
    .input-line {
        bottom: 85px;
    }
}

/***************************************************************************** Maja style */

.tabs-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(2, 13, 23);
    /* height: 1000px; */
    font-family: 'IBM Plex Sans', sans-serif;
}

.container-text{
    display: block;
    margin: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.numbers-wrapper{
    width: 24%;
    display: inline-block;
}

.numbers {
    /* width: 100%; */
    margin: 0px;
    padding: 0;
    text-align: center;
    color: #fff;
    display: inline; 
    font-size: 13px;
    color: rgb(29, 46, 61);
}

.numbers:last-child {
    margin-right: 0px;
}

.numbers:after {
    display: inline-block;
    margin: 0 0 5px 40px;
    height: 1.5px;
    content: " ";
    text-shadow: none;
    /* background-color: rgb(19, 30, 40); */
    background-color: rgb(29, 46, 61);
    width: 28%;
}

.numbers:before {
    display: inline-block;
    margin: 0 40px 5px 0;
    height:  1.5px;
    content: " ";
    text-shadow: none;
    /* background-color: rgb(19, 30, 40); */
    background-color: rgb(29, 46, 61);
    width: 28%;
}

.button{
    margin-top: 50px;
    color: rgb(254, 254, 255);
    text-transform: uppercase;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(29, 46, 61);
    cursor: pointer;
    font-size: 14px;
    width: 93%;
    text-align: center;
}

/* .button:hover{
    border: .2px solid rgb(254, 254, 255);
} */

/* second part */
.order-box{ 
    color: rgb(254, 254, 255);  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    /* display: inline-block; */

}

.arrow-wrapp{
    width: 70px;
    height: 70px;
    background-color: rgb(254, 254, 255);
    display: inline-block;
    color: rgb(29, 46, 61);
    text-align: center;
    cursor: pointer;
}

.arrow-left{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-image: url('arrow_left.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.arrow-right{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-image: url('arrow-right.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.order-boxes:hover{
    background-color: rgb(9, 20, 30);
    border-left: 5px solid rgb(29, 46, 61);
    margin-left: -2px;
}

.order-wrapper{
    padding: 110px;
    min-width: 82%;
    display: inline-block;
    background-image: url('lines.jpg');
    position: relative;
}

.box{
    width: 120px;
    height: 130px;
    border: 1px solid rgb(29, 46, 61);
    display: inline-block;
    vertical-align: -45px;
}

.order-boxes{
    padding-left: 50px;
    border-left: 2px solid rgb(29, 46, 61);
    margin-bottom: 25px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-wrap{
    display: inline-block;
    margin-left: 30px;
}

.limited{
    font-size: 12px;
}

.text-wrap{
    line-height: 2;
}

.text{
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    width: 350px;
    text-align: center;
    position: absolute;
    top: -35px;
}

.btn-span{
    display: inline-block;
    text-transform: uppercase;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: rgb(9, 20, 30);
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: 90px;
    font-size: 16px;
}

/* js */
.tabcontent {
    display: none;
}

.active > .button{
    background-color: rgb(19, 30, 40);
    /* border-left: 1px solid rgb(120, 125, 131); */
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    background-image: url('lines-btn.png');
}

.active > .numbers{
    color: #fff;
}

.active > .numbers:after {
    background-color: #fff;
    height: 1px;
}

.active > .numbers:before {
    background-color: #fff;
    height: 1px;
}
